.container{
	width: 800px;
	height: 800px;
	background-color: green;
	margin:auto;
	position:relative;
}
.content{
	background-color:#F0090D;
	width:100px;
	height:100px;
	position:absolute;
	left:50px;
	top:50px;
}
	